@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=David+Libre&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
    font-family: 'David Libre', serif;
    font-size: 1.2rem;
}

.main{
    width: 100vw;
    height: 100vh;
    background-image: url(../img/cyberpunk_girl_with_ducati_4k_hd_vaporwave.jpg);
    background-position: center;
    background-size: cover;
}
.main h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15rem;
    font-family: 'Bungee Shade', cursive;
    font-size: 4rem;
   color: white;
}

.enter-btn{
    width: 10rem;
    height: 2rem;
    background-image: linear-gradient( 109.6deg,  rgba(121,203,202,1) 11.2%, rgba(119,161,211,1) 91.1% );
    border: none;
    border-radius: 20px;
    margin-left: 70rem;
    margin-top: 6rem;
    outline: none;
}